*{
    margin: 0;
    padding: 0;

}
.first{
    width: auto;
    border: 33px solid whitesmoke;
}
.first h1{
    position: absolute;
    top: 9px;
    left: 101px;
    background-color: #00800096;
    padding: 10px 84px;
}
ul{
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
a{
    text-decoration: none;
}
i{
    padding: 10px 10px;
}
.second{
    width: auto;
    border: 240px solid silver;
}
#main{
    width: 900px;
    height: 460px;
    position: absolute;
    top: 90px;
    left: 100px;
    background-color: white;
    float: left;
}
.second h1{
    position: absolute;
    top: 9px;
    left: -72px;
    padding: 10px 84px;
    color: green;
    
}
hr{
    position: absolute;
    top: 64px;
    width: 879px;
    left: 10px;
    background-color: silver;
    height: 1px;
}
img{
    margin: 76px 13px -1px 10px;
    float: left;
}
blockquote{
    margin-top: -54px;
}
#notmain{
    width: 260px;
    height: 129px;
    position: absolute;
    top: 0;
    right: -299px;
    background-color: white;
}
h3{
    text-align: center;
    margin-top: 12px;
    color: green;
}
#notmain hr{
    width: 239px ;
    margin-top: -27px;
    height: 1px;
    
}
#notmain i{
    font-size: 55px;
    padding: 8px;
    padding-right: 30px;
    line-height: 1.4;
}
#notmain2{
    background-color: silver;
}
#notmain2 hr{
    position: absolute;
    top: 546px;
    background-color: skyblue;
    height: 5px;
    width: 1350px;
    left: -2px;
}
#notmain2 h1{
    text-align: center;
    margin-top: 6px;
    padding: 24px;

}